<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Zadanie5" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="Zadanie6" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50683/Serwis.svc/zadanie5"
                binding="basicHttpBinding" bindingConfiguration="Zadanie5"
                contract="Serwis.IZadanie5" name="Zadanie5" />
            <endpoint address="http://localhost:50683/Serwis.svc/zadanie6"
                binding="wsDualHttpBinding" bindingConfiguration="Zadanie6"
                contract="Serwis.IZadanie6" name="Zadanie6">
                <identity>
                    <userPrincipalName value="WIN11\Krzys" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>